<mat-card class="car-card">
  <img mat-card-image [src]="car.imageUrl" [alt]="car.make + ' ' + car.model" class="car-image">
  
  <mat-card-content>
    <div class="car-header">
      <h2 class="car-title">{{car.make}} {{car.model}}</h2>
      <div class="car-year">{{car.year}}</div>
    </div>
    
    <div class="car-features">
      <div class="feature">
        <mat-icon>airline_seat_recline_normal</mat-icon>
        <span>{{car.seats}} seats</span>
      </div>
      <div class="feature">
        <mat-icon>local_gas_station</mat-icon>
        <span>{{car.fuelType}}</span>
      </div>
      <div class="feature">
        <mat-icon>settings</mat-icon>
        <span>{{car.transmission}}</span>
      </div>
    </div>
    
    <div class="car-price">
      <span class="price">${{car.pricePerDay}}</span> / day
    </div>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-button color="primary" (click)="viewDetails()">VIEW DETAILS</button>
    <button mat-raised-button color="accent" *ngIf="showReserveButton" (click)="reserveCar()">RESERVE NOW</button>
  </mat-card-actions>
</mat-card>

