<mat-card *ngIf="car">
  <mat-card-content>
    <img mat-card-image [src]="car.processedImage" alt="Car Image" style="height: 230px; border-radius: 10px; object-fit: cover;">
    <mat-card-title>{{car.brand}} - {{car.name}}</mat-card-title>
    <mat-card-subtitle>
      <h2 style="cursor: pointer; color: #108ee9;">{{car.brand}} - {{car.name}}</h2>
      <p>{{car.description}}</p>
      <h5>Price: <b>${{car.price}}</b> - Color: <b>{{car.color}}</b> - Transmission: <b>{{car.transmission}}</b> - Type: <b>{{car.type}}</b> - Year: <b>{{car.year}}</b></h5>
    </mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="bookACar(validateForm.value)" [disabled]="isSpinning">
      Book
      <mat-spinner *ngIf="isSpinning" diameter="20"></mat-spinner>
    </button>
  </mat-card-actions>
</mat-card>
