.mat-list {
  width: 100%;
  max-width: 600px;
  margin: auto;

  .mat-list-item {
    padding: 16px;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: none;
    }
  }
}

.mat-spinner {
  display: block;
  margin: 50px auto;
}
