<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/index']" placement="bottom">
                <img src="assets/img/vroom_logo.png" alt="VROOM logo" style="width: 150px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="red">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-neutral" [routerLink]="['/vehicles']">
                        <i class="now-ui-icons business_globe" style="padding-right: 5px"></i>
                        <p>Véhicules</p>
                    </a>
                </li>
                
                <!-- Only show reservations link if logged in -->
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link btn btn-neutral" [routerLink]="['/your-reservations']">
                        <i class="now-ui-icons shopping_bag-16" style="padding-right: 5px"></i>
                        <p>Mes réservations</p>
                    </a>
                </li>
                
                <!-- If not logged in, show login/register -->
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="nav-link btn btn-neutral" [routerLink]="['/login']">
                        <i class="now-ui-icons users_circle-08" style="padding-right: 5px"></i>
                        <p>Connexion</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="nav-link btn btn-neutral" [routerLink]="['/register']">
                        <i class="now-ui-icons users_single-02" style="padding-right: 5px"></i>
                        <p>Inscription</p>
                    </a>
                </li>
                
                <!-- If logged in, show profile and logout -->
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link btn btn-neutral" [routerLink]="['/profile']">
                        <i class="now-ui-icons users_circle-08" style="padding-right: 5px"></i>
                        <p>{{ userName }}</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link btn btn-neutral" (click)="logout()">
                        <i class="now-ui-icons media-1_button-power" style="padding-right: 5px"></i>
                        <p>Déconnexion</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

