<div *ngIf="!isAdminLoggedIn && isCustomerLoggedIn">
  <mat-toolbar color="primary" class="custom-navbar">
    <span class="navbar-title">
      <a routerLink="/login">Car Rental Service</a>
    </span>
    <span class="nav-links">
      <button mat-button routerLink="/register">Register</button>
      <button mat-button routerLink="/login">Login</button>
    </span>
  </mat-toolbar>
</div>

<div *ngIf="isAdminLoggedIn">
  <mat-toolbar color="primary" class="custom-navbar">
    <span class="navbar-title">
      <a routerLink="/login">LoggedIn Admin</a>
    </span>
    <span class="nav-links">
      <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
      <button mat-button routerLink="/admin/car" routerLinkActive="active">Post Car</button>
      <button mat-button routerLink="/admin/bookings" routerLinkActive="active">Bookings</button>
      <button mat-button routerLink="/admin/search" routerLinkActive="active">Search</button>
      <button mat-button routerLink="#" (click)="logout()">Logout</button>
    </span>
  </mat-toolbar>
</div>

<div *ngIf="!isCustomerLoggedIn">
  <mat-toolbar color="primary" class="custom-navbar">
    <span class="navbar-title">
      <a routerLink="/login">LoggedIn Customer</a>
    </span>
    <span class="nav-links">
      <button mat-button routerLink="/customer/dashboard" routerLinkActive="active">Dashboard</button>
      <button mat-button routerLink="/customer/my-bookings" routerLinkActive="active">My Bookings</button>
      <button mat-button routerLink="#" (click)="logout()">Logout</button>
    </span>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
